* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('./html_images/background_image.jpg');
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    height: 100%;
}

#sidebar {
    width: 250px;
    padding: 20px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

#main-content {
    flex: 1;
    margin-left: 250px; /* To create space for the sidebar */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

#results {
    width: 300px;
    padding: 20px;
    margin-left: auto;
    height: 100%;
    overflow-y: auto;
}


#recommendation{
    margin-bottom: 20px;
    padding: 10px;
}

.home_description {
    text-align: left;
    color: #f4f0f0;
    margin: 5px;
    padding: 20px;
}

.home_description h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

.home_description button {
    background-color: #2847c1bc;
    color: #f4f0f0;
    font-weight: bold;
    border: 1px solid #2847c1bc;
    text-align: center;
    border-radius: 6px;
    margin: 50px;
    padding: 10px;
    width: 1.5in;
    font-size: 14px;
}

.home_description button:hover {
    background-color: #f4f0f0;
    color: #2847c1bc;
}

.home_description a {
    text-decoration: none;
    color: #f4f0f0;
    border: 2px solid #f4f0f0;
}

.home_description a:hover {
    background-color: #f4f0f0;
    color: #2847c1bc;
}

#home {
    float:center;
    display: flex;
    margin: 5px;
    padding: 20px;
    background-color: rgba(14, 21, 75, 0.795);
}

.navmenu{
    color: #f4f0f0;
    margin: 5px;
    padding: 20px;
    font-size: 18px;
    text-decoration:none;
    font-weight: bold;
}


